# build directory
BUILD/
RPMS/
SOURCES/
SPECS/

*.pyc

_os
_arch
_distribution

# ignore version.mk
rocks-version.mk
rocks-version-common.mk

# ignore python.mk
python.mk

# ignore Rules files
Rules-install.mk
Rules-repo-centos.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
Rolls.mk

# ignore bootstrap.py
bootstrap.py

# ignore spec mk
*.spec
*.spec.mk
.rpmmacros

# ignore disk1
disk1/
rocks-dist-bootable/

# ignore iso file
*.iso

# --- BEGIN --- binaries files
*.rpm
*.tar.gz
*.tar.xz
*.tar.bz2
